@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
}
.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
.card__image{
    border-radius: 10px;
    max-inline-size: 100%;
    block-size: auto;
}
.content{
    padding: 20px;
    text-align: center;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}
.content-title{
    color: hsl(218, 44%, 22%);
}
.content-text{
    padding-top: 20px;
    color: hsl(220, 15%, 55%);
}
@media screen and (min-width:375px) {
    .container{
        /* height: 600px; */
        width: 350px;
    }
}